.contact-heading{
    font-family: 'Ubuntu',
    sans-serif;
    font-size: 36px;
     color: #fb814e;
}

.contact-heading .heading-border::after {
    left: 5%;
    transform: translateX(-50%);
    width: 100px;
}

.heading-border::after {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 0;
    width: 33px;
    height: 3px;
    background-color: #f59f97;
    ;
}
/* responsive for mobile  */
@media only screen and (max-width: 600px) {
    .contact-from{
        margin-top: 20px;
    }
    .contact-heading .heading-border::after {
        left: 15%;
        transform: translateX(-50%);
        width: 100px;
    }
}
